@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin button {
  padding: 18px 50px 18px 50px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  color: white;
}

@mixin font-size {
  height: 100vh;
  width: 100%;
}

@mixin margin-0 {
  margin: 0;
  padding: 0;
}

@mixin font-s {
  font-size: 22px;
  color: #08c40e;
  font-weight: bold;
}

@mixin font-line {
  height: 2.5px;
  margin: 5px 0;
}

@mixin color-grey {
  margin: 1vh 0vh 1vh 0vh;
  color: rgb(91, 88, 88);
  font-size: 13px;
}

@mixin border {
  border: none;
  border-radius: 30px;
}

@mixin right-left {
  background-color: white;
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  border: 2px solid #04f70c;
  font-size: 30px;
}
@mixin style-color {
  background-color: #04f70c;
  color: white;
}





//color

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;